<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>English Bootcamp</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Jquery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">

<div class="jumbotron">
  <h1>Welcome to English-Bootcamp!</h1>
</div>


<h3>Take a look at Josh Prpich's Github Account and Code Repository for this English Bootcamp!</h3>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/png/128/25/25231.png" alt="">
      <div class="caption">
        <a href="https://github.com/jprpich" target="_blank">Josh Prpich Github</a>
      </div>      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/png/128/25/25231.png" alt="">
      <div class="caption">
        <a href="https://github.com/jprpich/english-bootcamp-bogota" target="_blank">English-Bootcamp Code Repository</a>
      </div>
    </div>
  </div>
</div>

<h3>Meetup Characteristics</h3>
<ul>
  <li>This is made to practice your English and programming skills!</li>
  <li>Let's practice and learn together!</li>
  <li>Let's eat, share ideas and have fun. Download the Dominos App to help us buy some pizza for the meetup!<img id="dominos" src="http://www.sickchirpse.com/wp-content/uploads/2017/03/Dominos.jpg" alt=""><br><a href="https://www.dominos.com.co/" target="_blank">https://www.dominos.com.co</a></li>
  <li>Keep in touch for more recommended great and safe Apps!</li>

</ul>



<p></p>

<h3>Let's Practice the Following together!</h3>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="subjects" src="https://blog.domandtom.com/wp-content/uploads/2016/09/javascript.png" alt="">
      <div class="caption">
        <h2>Basic Javascript</h2>
        <p>Thanks to Make it Real I can talk about JS. Check out my developer portfolio! <a href="https://jprpich.github.io/" target="_blank">jprpich.github.io</a></p>
        <p>Recommended Study for the JS studython. Javascript Understanding the Weird Parts. <a href="https://www.udemy.com/understand-javascript/" target="_blank">https://www.udemy.com/understand-javascript/</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="subjects" src="http://www.rubyxml.org/wp-content/uploads/2015/07/services-icons-ruby-@2x.png" alt="">
      <div class="caption">
        <h2>Basic Ruby</h2>
        <p>Make It Real focuses on teaching us Ruby on rails. That is why at this moment I feel confident enough to talk about Basic Ruby.</p>
        <p>Recommended Bootcamp Program for the Ruby studython. <a href="https://makeitreal.camp/" target="_blank">https://makeitreal.camp/</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="subjects" src="http://ictacademy.com.ng/wp-content/uploads/2017/10/14570828119302_illu-cours_html5-css3.png" alt="">
      <div class="caption">
        <h2>HTML 5</h2>
        <p>I think I can teach at a medium level now!</p>
        <p>Recommended Study for the HTML 5 and CSS studython The Complete Web Developer Bootcamp <a href="https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview" target="_blank">https://www.udemy.com/the-web-developer-bootcamp/learn/v4/overview</a></p>
      </div>
    </div>
  </div>
</div>

</div>
<script src="/javascript/app.js"></script>
</body>
</html>
