<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>English Bootcamp</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Jquery -->
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
<div class="container">


<h1>Welcome Fellow English Bootcampers</h1>

<p>Take a look at Josh Prpich's Github Account and Code Repository for this English Bootcmap!</p>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/png/128/25/25231.png" alt="">
      <div class="caption">
        <a href="https://github.com/jprpich" target="_blank">Josh Prpich Github</a>
      </div>      
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img src="https://image.flaticon.com/icons/png/128/25/25231.png" alt="">
      <div class="caption">
        <a href="https://github.com/jprpich/english-bootcamp-bogota" target="_blank">English-Bootcamp Code Repository</a>
      </div>
    </div>
  </div>
</div>


<p>English Teacher and Developer for the English Bootcamp in Bogotá Colombia.</p>

<p>This Bootcamp was contructed by an open source community. All of your suggestions and contributions are very welcomed!</p>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <p>Let's seriously learn English! Let's prepare to launch start-ups, work at international companies. Learn English with Josh Prpich a developer student from Make It Real Bootcamp.</p>
    </div>
  </div>
  <div class="col-md-6">
    <div class="thumbnail">
      <p>Let's practice and learn together! English for Developers.</p>
    </div>
  </div>
</div>

<h1>As a Coding Student and passionate learner I teach coding to people interested in technology or coding geniouses that actually end up teaching me!</h1>

<p>What we will learn together in our bootcamp</p>

<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="subjects" src="https://blog.domandtom.com/wp-content/uploads/2016/09/javascript.png" alt="">
      <div class="caption">
        <h2>Basic Javascript</h2>
        <p>Thanks to Make it Real I can talk about JS with English students. Check out my developer portfolio! <a href="https://jprpich.github.io/" target="_blank">jprpich.github.io</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="subjects" src="http://www.rubyxml.org/wp-content/uploads/2015/07/services-icons-ruby-@2x.png" alt="">
      <div class="caption">
        <h2>Basic Ruby</h2>
        <p>Make It Real focuses on teaching us Ruby on rails. That is why at this moment I feel confident enough to talk about Basic Ruby with the English students.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <img class="subjects" src="http://ictacademy.com.ng/wp-content/uploads/2017/10/14570828119302_illu-cours_html5-css3.png" alt="">
      <div class="caption">
        <h2>HTML 5</h2>
        <p>I think I can teach at a medium level now!</p>
      </div>
    </div>
  </div>
</div>


<p>If you are interested in learning to code at a professional level please go to the coding bootcamp that I did. It is called Make It Real.camp</p>
<a href="https://makeitreal.camp/" target="_blank">MakeItReal.camp</a>
</div>
<script src="/javascript/app.js"></script>
</body>
</html>
