<h1>Welcome Fellow English Bootcampers</h1>

<h1>Josh Prpich</h1>
<p>English Teacher and Developer for the English Bootcamp in Bogotá Colombia.</p>

<p>This Bootcamp was contructed by an open source community. All of your suggestions and contributions are very welcomed!</p>